[global]
type=global
user_agent=LipiVoice-Asterisk

[transport-udp]
type=transport
protocol=udp
bind=0.0.0.0:${ASTERISK_SIP_BIND_PORT}

[ntc-auth]
type=auth
auth_type=userpass
username=${NTC_SIP_AUTH_USERNAME}
password=${NTC_SIP_PASSWORD}

[ntc-aor]
type=aor
contact=sip:${NTC_SIP_SERVER}

[ntc-registration]
type=registration
transport=transport-udp
outbound_auth=ntc-auth
server_uri=sip:${NTC_SIP_SERVER}
client_uri=sip:${NTC_SIP_USERNAME}@${NTC_SIP_SERVER}
contact_user=${NTC_FROM_NUMBER}
outbound_proxy=sip:${NTC_OUTBOUND_PROXY}\;lr
retry_interval=60
forbidden_retry_interval=300
expiration=3600

[ntc]
type=endpoint
transport=transport-udp
context=from-ntc
disallow=all
allow=ulaw
allow=alaw
outbound_auth=ntc-auth
aors=ntc-aor
from_user=${NTC_FROM_NUMBER}
from_domain=${NTC_SIP_SERVER}
outbound_proxy=sip:${NTC_OUTBOUND_PROXY}\;lr
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes
direct_media=no

[ntc-identify]
type=identify
endpoint=ntc
match=${NTC_SIP_SERVER}

[livekit]
type=endpoint
transport=transport-udp
context=from-livekit
disallow=all
allow=ulaw
allow=alaw
aors=livekit-aor
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes
direct_media=no
trust_id_inbound=yes

[livekit-aor]
type=aor
max_contacts=16

[livekit-identify]
type=identify
endpoint=livekit
match=127.0.0.1/32
